body {
	background-color: white;
	width: 100%;
	margin: 0;
	padding: 0;
}
#mainContainer {	
	margin: 0;
	padding: 0;
	width: inherit;
}

/*******************
Hide mobile menu container
***************************/
@media screen and (min-width: 993px) {
	.menuButton {
		display: none;
	}
	#mobileMenu {
		display: none;
	}
	#mobileNavContainer {
		display: none;
	}
}

/*-----------------------------------------------
	Tablet and Mobile Navigation Menu and Button 
-------------------------------------------------*/
.menuButton {	
	position: fixed;
	height: 30px;
	width: 40px;	
	margin-top: 8px;
	cursor: pointer;
	z-index: 1;
	right: 5%;
	background-color: transparent;
}
.menuBar hr {		
	margin: 15%;
	max-width: 100%;
	border-top: 2px solid rgb(100,100,100);
}

/*------------------------------------
Tablet and Mobile Navigation Menu
--------------------------------------*/
#mobileMenu {
	background-color: rgba(255,255,255,0.95);
	height: 50px;
	position: fixed;	
	width: 100%;
	z-index: 1;
}
#mobileLogo img {
	height: 30px;
	width: 20px;
	margin-top: 9.5px;
	float: left;
}
.mobileMenuClose {	
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
	cursor: pointer;
	position: absolute;
	top: 1.3%;
	right: 6%;
	z-index: 1;
}
#mobileNavContainer {
	background-color: rgba(0,0,0,0.9);
	position: fixed;
	font-family: 'Roboto', sans-serif;		
	width: 100%;
	height: 100%;
	z-index: 1;
}
#mobileNavContainer ul {
	list-style: none;
	text-align: center;
	margin-top: 160px;	
}
#mobileNavContainer li {
	display: block;
	padding-top: 5%;	
}
#mobileNavContainer li a {
	font-size: 2em;
	color: rgba(175,255,61,1);
	text-shadow: 1px 1px 0px gray;
	text-decoration: none;
	text-transform: lowercase;	
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
#mobileNavContainer li a:hover {
	color: white;
	font-weight: bold;		
	text-shadow: 1px 1px 0px black;
}

/*-------------------------
	Desktop Navigation
-------------------------*/
#navigationContainer {
	font-family: 'Roboto', sans-serif;	
	position: fixed;	
	width: 100%;
	height: 60px;
	z-index: 9999;
	background-color: rgba(255,255,255,1);
}
#navigationContainer img {
	float: left;
	height: 30px;
	width: 20px;
	margin-top: 15px;
}
#mainNavigation ul {
	display: inline;
	float: right;
	margin-top: 14px;
}
#mainNavigation li {
	display: inline;
	padding-right: 25px;
	font-size: 20px;	
}
#mainNavigation a {
	text-decoration: none;
	color: black;
	text-transform: lowercase;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
#mainNavigation a:hover {
	color: rgba(175,255,61,1);
	font-weight: bold;	
}

/*------------------
	Title Container
--------------------*/
#titleContainer {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 650px;	
	z-index: -1;
	background-image: url('images/stl.jpg');
	background-repeat: no-repeat;
	background-position: center;	
}
#titleContainerShade {	
	width: 100%;
	height: 650px;	
	background-color: rgba(0,0,0,0.7);
	font-family: 'Roboto', sans-serif;	
	color: white;	
}
#titleContainerShade h2 {	
	margin-top: 170px;	
	font-size: 40px;
	font-weight: bold;
	color: rgba(175,255,61,1);
	text-shadow: 3px 3px 3px black;
}
#titleContainerShade h3 {	
	margin-top: 60px;	
	font-size: 30px;
	font-weight: bold;
	color: white;
	text-shadow: 3px 3px 3px black;
}
#titleContainerShade span {
	margin-top: 60px;
	font-size: 30px;
	cursor: pointer;
	color: rgba(175,255,61,1);	
}
#titleContainerShade span:hover {
	color: white;	
}

/*----------------------
	Work Gallery
-------------------------*/
#workGalleryContainer {			
	width: 95%;	
	font-family: 'Roboto', sans-serif;		
	text-transform: lowercase;
	background-color: white;
}
#workGalleryContainer h1 {
	font-size: 50px;
	margin-top: 50px;
	margin-bottom: 50px		;
	color: rgba(175,255,61,1);
	text-shadow: 1px 1px 0px black;
}
.galleryTile {
	position: relative;	
	height: 325px;		
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
#galleryTile1 {
	background-image: url('images/photographer.jpg');
}
#galleryTile2 {
	background-image: url('images/cupcake.jpg');
}
#galleryTile3 {
	background-image: url('images/laptop.jpg');
}
.galleryTile a {
	text-decoration: none;
	color: white;	
}
.galleryShade {
	position: absolute;		
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 325px;
	background-color: rgba(0,0,0,0.0);
	font-family: 'Oswald', sans-serif;
	color: transparent;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.galleryShade:hover {
	background-color: rgba(0,0,0,0.9);
	color: rgba(175,255,61,1);
	text-shadow: 1px 1px 1px black;	
}
.galleryShade h2 {
	margin-top: 100px;
	font-size: 30px;		
}
#galleryButton {
	margin-top: 50px;
	margin-bottom: 50px;
	background-color: transparent;
	color: rgba(175,255,61,1);
	text-shadow: 1px 1px 0px black;	
	border-color: rgba(175,255,61,1);
	border-radius: 16px;
	text-transform: lowercase;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
#galleryButton:hover {
	border-color: black;
	background-color: rgba(175,255,61,1);	
	color: black;
	text-shadow: none;
}

/*-------------------
	About Container
-----------------------*/
#aboutContainer {			
	width: 100%;	
	font-family: 'Roboto', sans-serif;		
	text-transform: lowercase;
	border-top: 4px double black;
	border-bottom: 4px double black;
	background: #595965;
}
#aboutContainer h1 {
	font-size: 50px;
	margin-top: 50px;
	margin-bottom: 50px;		
	color: rgba(175,255,61,1);
	text-shadow: 1px 1px 0px black;	
}
#aboutContainer p {
	font-size: 25px;		
	color: white;
	text-shadow: 1px 1px 1px black;	
}
#aboutContainer h5 {
	font-size: 30px;
	margin-top: 50px;
	font-family: 'Oswald', sans-serif;
	text-shadow: 1px 1px 1px white;
	font-weight: bold;	
}
#aboutButton {
	margin: 50px 0;
	background-color: rgba(175,255,61,1);
	color: black;
	border-color: rgba(175,255,61,1);
	border-color: black;	
	border-radius: 16px;
	text-transform: lowercase;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
#aboutButton:hover {	
	background-color: transparent;	
	color: #595965;
	text-shadow: 1px 1px 0px black;	
}

/*-------------------
	Footer
--------------------*/
#footerContainer {	
	width: inherit;	
	background: white;
}
#footerLogo {
	margin-top: 50px;	
}
#footerLogo img {
	height: 45px; 
	width: 30px;
}
#homeSocialIcons {
	margin-top: 25px;
}
#footerContainer h1 {
	color: rgba(175,255,61,1);
	text-shadow: 1px 1px 0px black;
	font-family: 'Roboto', sans-serif;	
	font-size: 35px;
	text-transform: none;	
}

/********************
Social Icon Styles
*********************/
.socialIcons {
	margin-top: 50px;
	padding-bottom: 50px;
}
.socialIcons img {
	height: 50px;
	width: 50px;	
	margin-right: 20px;	
	padding: 5px;
	border: 1px solid rgba(175,255,61,1);
	border-radius: 50%;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.socialIcons img:hover {	
	border-radius: 16px;
	border: 3px solid rgba(175,255,61,1);
	transform: scale(1.2);	
}

/* --------------------
	Contact Container
-----------------------*/
#contactContainer {	
	width: inherit;
	margin-top: 100px;
	padding: 0;	
	z-index: -1;	
	background-image: url('images/stl.jpg');
	background-repeat: no-repeat;
	background-position: center;	
}
#contactContainerShade {	
	width: inherit;	
	background-color: rgba(0,0,0,0.7);
	font-family: 'Roboto', sans-serif;	
	color: white;	
}
#contactContainerShade h2 {			
	font-size: 40px;
	padding-top: 25px;
	font-weight: bold;
	color: rgba(175,255,61,1);
	text-shadow: 1px 1px 0px black;
}
#contactContainerShade h4 {	
	margin-top: 25px;		
	font-size: 30px;
	font-weight: bold;
	color: white;	
}
#contactContainerShade p {		
	margin-top: 25px;	
	margin-bottom: 0;
	font-size: 17px;
}
#contactContainer a {
	text-decoration: none;
	color: rgba(175,255,61,1);
	font-weight: bold;
	font-size: 20px;
}

/*------------------------
	About Page Container
-------------------------*/
#aboutPageContainer {	
	width: inherit;
	margin-top: 100px;
	padding: 0;	
	z-index: -1;	
	background-image: url('images/stl.jpg');
	background-repeat: no-repeat;
	background-position: center;	
}
#aboutPageContainerShade {	
	width: inherit;	
	background-color: rgba(0,0,0,0.7);
	font-family: 'Roboto', sans-serif;	
	color: white;	
}
#aboutPageContainerShade h2 {			
	font-size: 40px;
	padding-top: 25px;
	font-weight: bold;
	color: rgba(175,255,61,1);
	text-shadow: 1px 1px 0px black;
}
#aboutPageContainerShade h4 {	
	margin-top: 25px;		
	font-size: 30px;
	font-weight: bold;
	color: rgba(175,255,61,1);
}
#aboutPageContainerShade p {	
	font-size: 17px;
}
#aboutPageContainer a {
	text-decoration: none;
	color: rgba(175,255,61,1);
	font-weight: bold;
}

/*----------------------
	Full Gallery
-------------------------*/
#fullGalleryContainer {
	background-color: white;
	width: inherit;	
	z-index: 1;
	font-family: 'Roboto', sans-serif;		
	text-transform: lowercase;	
}
#fullGalleryRow1 {
	margin-top: 2.5%;
}
.fullGalleryTile {	
	height: 275px;	
	margin-top: 0%;	
	cursor: pointer;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
#fullGalleryTile1 {
	background-image: url('images/photographer.jpg');	
}
#fullGalleryTile2 {
	background-image: url('images/cupcake.jpg');	
}
#fullGalleryTile3 {
	background-image: url('images/laptop.jpg');
}
#fullGalleryTile4 {
	background-image: url('images/imageupload.jpg');	
}
#fullGalleryTile5 {	
	background-image: url('images/math.jpg');	
}
#fullGalleryTile6 {		
	background-image: url('images/javascript.jpg');
}
.fullGalleryTile a {
	text-decoration: none;			
	color: rgb(80,80,80);		
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;	
}
.fullGalleryTile a:hover {	
	color: white;	
}
.fullGalleryShade {		
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;	
	height: 275px;	
	font-family: 'Oswald', sans-serif;
	color: transparent;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.fullGalleryShade:hover {
	background-color: rgba(0,0,0,0.9);
	color: rgba(175,255,61,1);
	text-shadow: 1px 1px 1px black;		
}
.fullGalleryShade h2 {
	padding-top: 10%;
	font-size: 30px;		
}
.fullGalleryShade p {
	margin-top: 2%;
	line-height: 25px;
	font-size: 15px;
	text-transform: none;
	font-family: 'Roboto', sans-serif;	
	padding: 10px;		
}

/*---------------------
	 Small Handheld Styles
----------------------*/
@media screen and (max-width: 568px) {

	#mobileMenu {
		background-color: white;
	}
	#navigationContainer {
		display: none;
	}	
	#mainNavigation {
		display: none;
	}
	#mobileNavContainer ul {
		margin-top: 25%;
	}
	#titleContainer {
		height: 550px;
	}
	#titleContainerShade {
		height: 550px;
	}
	#titleContainer h2 {
		margin-top: 150px;
		font-size: 30px;
	}
	#titleContainer h3 {
		margin-top: 25px;
		font-size: 25px;
		line-height: 45px;
	}
	#titleContainer span {
		margin-top: 25px;
	}
	.galleryShade {
		background-color: rgba(0,0,0,0.5);
	}
	#workGalleryContainer h1 {
		margin-top: 50px;
		margin-bottom: 50px;
		color: rgba(175,255,61,1);
		text-shadow: 1px 1px 0px black;
	}
	#workGalleryContainer h2 {
		margin-top: 125px;	
		color: rgba(175,255,61,1);	
		text-shadow: 1px 1px 1px black;
	}
	#workGalleryContainer button {
		margin: 50px 0;
	}
	#workGalleryContainer span {
		display: none;
	}
	#aboutContainer h1 {
		margin: 50px 0;
	}
	#aboutContainer p {
		font-size: 17px;
	}
	#aboutContainer h5 {
		font-size: 25px;
	}
	#aboutContainer button {
		margin: 50px 0;
	}
	#aboutContainer span {
		display: none;
	}			
	#contactContainer {		
		margin-top: 50px;
	}	
	#contactContainer h4 {
		font-size: 25px;
	}
	#aboutPageContainer {		
		margin-top: 50px;
	}	
	#aboutPageContainer h4 {
		font-size: 25px;
	}
	#fullGalleryRow1 {
		margin-top: 20%;
	}
	.fullGalleryShade {
		background-color: rgba(0,0,0,0.6);
	}
	#fullGalleryContainer h2 {		
		color: rgba(175,255,61,1);
		text-shadow: 1px 1px 1px black;
	}
	#fullGalleryContainer p {
		color: white;
		text-shadow: 1px 1px 1px black;
		font-size: 17px;
	}
}

/*---------------------
	 Handheld Styles to 640px width
----------------------*/

@media screen and (min-width: 569px) and (max-width: 640px) {	

	#mobileMenu {
		background-color: white;
	}
	#navigationContainer {
		display: none;
	}	
	#mainNavigation {
		display: none;
	}
	#mobileNavContainer ul {
		margin-top: 85px;
	}
	#titleContainer {
		height: 550px;
	}
	#titleContainerShade {
		height: 550px;
	}
	#titleContainer h2 {
		margin-top: 150px;
		font-size: 30px;
	}
	#titleContainer h3 {
		margin-top: 50px;
		font-size: 25px;
		line-height: 45px;
	}
	#titleContainer span {
		margin-top: 50px;
	}
	.galleryShade {
		background-color: rgba(0,0,0,0.5);
	}	
	#workGalleryContainer h2 {		
		color: rgba(175,255,61,1);	
		text-shadow: 1px 1px 1px black;
	}
	#workGalleryContainer span {
		display: none;
	}	
	#aboutContainer span {
		display: none;
	}
	#contactContainer {		
		margin-top: 50px;
	}		
	#contactContainer h4 {
		font-size: 25px;
	}
	#aboutPageContainer {		
		margin-top: 50px;
	}
	#aboutPageContainer h4 {
		font-size: 25px;
	}	
	#aboutButton button {
		margin-top: 2%;				
	}
	#fullGalleryRow1 {
		margin-top: 20%;
	}
	.fullGalleryShade {
		background-color: rgba(0,0,0,0.6);
	}
	#fullGalleryContainer h2 {		
		color: rgba(175,255,61,1);
		text-shadow: 1px 1px 1px black;
	}
	#fullGalleryContainer p {
		color: white;
		text-shadow: 1px 1px 1px black;
		font-size: 17px;
	}
}

/*----------
Tablet Styles
--------------*/

@media screen and (min-width: 641px) and (max-width: 992px) {
	
	#mobileLogo img {
		margin-top: 3%;
	}
	#mobileMenu {
		background-color: white;
	}
	#navigationContainer img {
		height: 35px;
		width: 25px;
		margin-top: 2.5%;
	}
	#titleContainer {
		height: 550px;
	}
	#titleContainerShade {
		height: 550px;
	}	
	.galleryShade {
		background-color: rgba(0,0,0,0.5);
	}	
	#workGalleryContainer h2 {			
		color: rgba(175,255,61,1);	
		text-shadow: 1px 1px 1px black;
	}
	#workGalleryContainer p {		
		font-weight: bold;
		color: white;
		text-shadow: 1px 1px 0px rgba(175,255,61,1);
	}	
	#aboutContainer h1 {
		margin-bottom: 25px;
	}
	#contactContainer {
		height: 100%;
	}
	#contactContainer h2 {
		font-size: 40px;
		margin-top: 15%;
	}
	#contactContainer p {
		font-size: 20px;
		margin-top: 5%;
	}
	#contactContainer h3 {
		font-size: 25px;
		margin-top: 5%;
	}
	#aboutPageContainer {
		height: 100%;
	}
	#aboutPageContainerShade {
		height: 100%;
	}
	#aboutSite {
		margin-top: 15%;
		font-size: 35px;
	}	
	#aboutPageContainerShade h2 {
		margin-top: 5%;
	}
	#aboutPageContainer p {
		margin-top: 5%;
		margin-bottom: 0;
		font-size: 20px;
	}
	#aboutButton button {
		margin-top: 2%;				
	}	
	#fullGalleryRow1 {
		margin-top: 10%;
	}
	.fullGalleryShade {
		background-color: rgba(0,0,0,0.6);
	}
	#fullGalleryContainer h2 {		
		color: rgba(175,255,61,1);
		text-shadow: 1px 1px 1px black;
	}
	#fullGalleryContainer p {
		color: white;
		text-shadow: 1px 1px 1px black;
		font-size: 17px;
	}
}
