body {
	background-color: white;
	width: 100%;
	margin: 0;
	padding: 0;
}
#mainContainer {
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	width: inherit;
}
@media screen and (min-width: 993px) {
	.menuButton {
		display: none;
	}
	#mobileMenu {
		display: none;
	}
	#mobileNavContainer {
		display: none;
	}
}

/*-----------------------------------------------
	Tablet and Mobile Navigation Menu and Button 
-------------------------------------------------*/

.menuButton {	
	position: fixed;
	height: 30px;
	width: 40px;	
	margin-top: 20px;
	cursor: pointer;
	z-index: 1;
	right: 3%;
	background-color: transparent;
}
.menuBar hr {		
	margin: 15%;
	max-width: 100%;
	border-top: 2px solid rgb(100,100,100);
}

/*------------------------------------
Tablet and Mobile Navigation Menu
--------------------------------------*/

#mobileMenu {
	background-color: rgba(255,255,255,0.95);
	height: 70px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
}
#mobileLogo img {
	height: 35px;
	width: 25px;
	margin-top: 5%;
	float: left;
}
.mobileMenuClose {	
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 2.3em;
	cursor: pointer;
	position: absolute;
	top: 1.3%;
	right: 6%;
	z-index: 1;
}
#mobileNavContainer {
	background-color: rgba(0,0,0,0.9);
	position: fixed;
	font-family: 'Roboto', sans-serif;	
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}
#mobileNavContainer ul {
	list-style: none;
	text-align: center;
	margin-top: 15%;	
}
#mobileNavContainer li {
	display: block;
	padding-top: 5%;	
}
#mobileNavContainer li a {
	font-size: 2em;
	color: rgba(175,255,61,1);
	text-shadow: 1px 1px 0px gray;
	text-decoration: none;
	text-transform: lowercase;	
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
#mobileNavContainer li a:hover {
	color: white;
	font-weight: bold;		
	text-shadow: 1px 1px 0px black;
}

/*-------------------------
	Desktop Navigation
-------------------------*/

#navigationContainer {
	font-family: 'Roboto', sans-serif;	
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 70px;
	z-index: 9999;
	background-color: rgba(255,255,255,1);
}
#navigationContainer img {
	float: left;
	height: 35px;
	width: 25px;
	margin-top: 2%;
}
#mainNavigation ul {
	display: inline;
	float: right;
	margin-top: 2.5%;
}
#mainNavigation li {
	display: inline;
	padding-right: 25px;
	font-size: 20px;	
}
#mainNavigation a {
	text-decoration: none;
	color: black;
	text-transform: lowercase;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
#mainNavigation a:hover {
	color: rgba(175,255,61,1);
	font-weight: bold;	
}

/*------------------
	Title Container
--------------------*/

#titleContainer {		
	top: 0;
	left: 0;
	width: inherit;
	margin: 0;
	padding: 0;
	height: 650px;	
	z-index: -1;
	background-image: url('images/stl.jpg');
	background-repeat: no-repeat;
	background-position: center;	
}
#titleContainerShade {
	width: inherit;
	height: 650px;	
	background-color: rgba(0,0,0,0.7);
	font-family: 'Roboto', sans-serif;	
	color: white;	
}
#titleContainerShade h2 {	
	margin-top: 15%;	
	font-size: 50px;
	font-weight: bold;
	color: rgba(175,255,61,1);
	text-shadow: 3px 3px 3px black;
}
#titleContainerShade h3 {	
	margin-top: 5%;	
	font-size: 30px;
	font-weight: bold;
	color: white;
	text-shadow: 3px 3px 3px black;
}
#titleContainerShade h5 {		
	margin-top: 5%;
}
#titleContainerShade span {
	margin-top: 4%;
	font-size: 25px;
	cursor: pointer;
	color: rgb(180,180,180);
}
#titleContainerShade span:hover {
	color: rgba(175,255,61,1);	
}


/*----------------------
	Work Gallery
-------------------------*/

#workGallery {		
	left: 0;
	margin: 0;
	padding: 0;
	width: inherit;
	height: 500px;	
	font-family: 'Roboto', sans-serif;		
	text-transform: lowercase;
	background-color: white;
}
#workGallery h1 {
	font-size: 50px;
	margin-top: 5%;
	margin-bottom: 5%;		
	color: rgba(175,255,61,1);
	text-shadow: 1px 1px 0px black;
}
#galleryContainer {
	width: inherit;
	border-bottom: 4px double black;	
}
.galleryTile {
	position: relative;	
	height: 325px;		
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
#galleryTile1 {
	background-image: url('images/photographer.jpg');
}
#galleryTile2 {
	background-image: url('images/cupcake.jpg');
}
#galleryTile3 {
	background-image: url('images/laptop.jpg');
}
.galleryTile a {
	text-decoration: none;
	color: white;	
}
.galleryShade {
	position: absolute;		
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 325px;
	background-color: rgba(0,0,0,0.0);
	font-family: 'Oswald', sans-serif;
	color: transparent;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.galleryShade:hover {
	background-color: rgba(0,0,0,0.9);
	color: rgba(175,255,61,1);
	text-shadow: 1px 1px 1px black;	
}
.galleryShade h2 {
	margin-top: 15%;
	font-size: 40px;		
}
.galleryShade p {
	margin-top: 2%;
	
	font-size: 18px;
	text-transform: none;
	font-family: 'Roboto', sans-serif;	
	padding: 10px;
}
#galleryButton {
	margin-top: 8%;
	margin-bottom: 8%;
	background-color: transparent;
	color: rgba(175,255,61,1);
	text-shadow: 1px 1px 0px black;	
	border-color: rgba(175,255,61,1);
	border-radius: 16px;
	text-transform: lowercase;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
#galleryButton:hover {
	border-color: black;
	background-color: rgba(175,255,61,1);	
	color: black;
	text-shadow: none;
}

/*-------------------
	About Container
-----------------------*/

#aboutContainer {		
	left: 0;
	margin: 0;
	padding: 0;
	width: inherit;	
	font-family: 'Roboto', sans-serif;		
	text-transform: lowercase;
	border-bottom: 4px double black;
	background: linear-gradient(#595965, white);
}
#aboutContainer h1 {
	font-size: 50px;
	margin-top: 3%;
	margin-bottom: 0;	
}
#aboutContainer p {
	font-size: 27px;	
	margin-top: 5%;
	color: white;
	text-shadow: 1px 1px 1px black;	
}
#aboutContainer h5 {
	font-size: 30px;
	margin-top: 5%;		
	font-family: 'Oswald', sans-serif;
	text-shadow: 1px 1px 1px white;
	font-weight: bold;	
}
#aboutButton {
	margin: 3% 0;
	background-color: rgba(175,255,61,1);
	color: black;
	border-color: rgba(175,255,61,1);
	border-color: black;	
	border-radius: 16px;
	text-transform: lowercase;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
#aboutButton:hover {	
	background-color: transparent;	
	color: #595965;
	text-shadow: 1px 1px 0px black;	
}

/*-------------------
	Footer
--------------------*/

#footerContainer {
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	width: inherit;
	height: 350px;
	background: linear-gradient(white, #595965);
}
#footerContainer img {
	margin-top: 3%;
}
#footerContainer h1 {
	color: rgba(175,255,61,1);
	text-shadow: 1px 1px 0px black;
	font-family: 'Roboto', sans-serif;	
	font-size: 35px;
	text-transform: none;
	margin-top: 3%;	
	margin-bottom: 0;
}
#socialIcons {
	margin-top: 2%;	
	margin-bottom: 0;
}
#socialIcons img {
	height: 48px;
	width: 48px;	
	margin-right: 20px;	
	padding: 5px;
	border: 1px solid rgba(175,255,61,1);
	border-radius: 50%;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
#socialIcons img:hover {
	border: 3px solid rgba(175,255,61,1);
	border-radius: 16px;
	transform: scale(1.2);	
}

/* --------------------
	Contact Container
-----------------------*/

#contactContainer {	
	top: 0;
	left: 0;
	width: inherit;
	margin: 0;
	padding: 0;
	height: 650px;	
	z-index: -1;
	background-image: url('images/stl.jpg');
	background-repeat: no-repeat;
	background-position: center;	
}
#contactContainerShade {
	width: inherit;
	height: 650px;	
	background-color: rgba(0,0,0,0.7);
	font-family: 'Roboto', sans-serif;	
	color: white;	
}
#contactContainerShade h2 {	
	margin-top: 10%;
	margin-bottom: 0;	
	font-size: 50px;
	font-weight: bold;
	color: rgba(175,255,61,1);
	text-shadow: 1px 1px 0px black;
}
#contactContainerShade h3 {	
	margin-top: 2%;	
	
	font-size: 30px;
	font-weight: bold;
	color: white;
	text-shadow: 1px 1px 0px rgba(175,255,61,1);
}
#contactContainerShade p {		
	margin-top: 2%;	
	margin-bottom: 0;
	font-size: 25px;
}
#contactContainer a {
	text-decoration: none;
	color: rgba(175,255,61,1);
	font-weight: bold;
}

#contactSocialIcons {
	margin-top: 2%;
	margin-bottom: 0;
}
#contactSocialIcons img {
	height: 50px;
	width: 50px;	
	margin-right: 20px;	
	padding: 5px;
	border: 1px solid rgba(175,255,61,1);
	border-radius: 50%;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
#contactSocialIcons img:hover {	
	border-radius: 16px;
	border: 3px solid rgba(175,255,61,1);
	transform: scale(1.2);	
}

/*------------------------
	About Page Container
-------------------------*/

#aboutPageContainer {	
	top: 0;
	left: 0;
	width: inherit;
	margin: 0;
	padding: 0;
	height: 650px;	
	z-index: -1;
	background-image: url('images/stl.jpg');
	background-repeat: no-repeat;
	background-position: center;	
}
#aboutPageContainerShade {
	width: inherit;
	height: 650px;	
	background-color: rgba(0,0,0,0.7);
	font-family: 'Roboto', sans-serif;	
	color: white;	
}
#aboutPageContainerShade h2 {	
	margin-top: 15%;
	margin-bottom: 0;	
	font-size: 40px;
	font-weight: bold;
	color: rgba(175,255,61,1);
	text-shadow: 1px 1px 0px black;
}
#aboutPageContainerShade a {
	text-decoration: none;
	color: rgba(175,255,61,1);
	font-weight: bold;
}
#resume {
	font-size: 25px;	
}
#aboutPageContainerShade p {		
	margin-top: 2%;	
	margin-bottom: 0;
	font-size: 23px;
}
#aboutSocialIcons {
	margin-top: 2%;
	margin-bottom: 0;
}
#aboutSocialIcons img {
	height: 50px;
	width: 50px;	
	margin-right: 20px;	
	padding: 5px;
	border: 1px solid rgba(175,255,61,1);
	border-radius: 50%;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
#aboutSocialIcons img:hover {	
	border-radius: 16px;
	border: 3px solid rgba(175,255,61,1);
	transform: scale(1.2);	
}

/*----------------------
	Full Gallery
-------------------------*/

#fullGalleryContainer {
	background-color: white;
	width: inherit;	
	z-index: 1;
	font-family: 'Roboto', sans-serif;		
	text-transform: lowercase;	
}
#fullGalleryRow1 {
	margin-top: 2.5%;
}
.fullGalleryTile {	
	height: 275px;	
	margin-top: 0%;	
	cursor: pointer;
}
#fullGalleryTile1 {
	background-image: url('images/photographer.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
#fullGalleryTile2 {
	background-image: url('images/cupcake.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
#fullGalleryTile3 {
	background-image: url('images/laptop.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
#fullGalleryTile4 {
	background-image: url('images/imageupload.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
#fullGalleryTile5 {	
	background-image: url('images/math.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
#fullGalleryTile6 {		
	background-image: url('images/javascript.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.fullGalleryTile a {
	text-decoration: none;			
	color: rgb(80,80,80);			
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;	
}
.fullGalleryTile a:hover {	
	color: white;	
}
.fullGalleryShade {		
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;	
	height: 275px;	
	font-family: 'Oswald', sans-serif;
	color: transparent;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.fullGalleryShade:hover {
	background-color: rgba(0,0,0,0.9);
	color: rgba(175,255,61,1);
	text-shadow: 1px 1px 1px black;		
}
.fullGalleryShade h2 {
	margin-top: 10%;
	font-size: 38px;		
}
.fullGalleryShade p {
	margin-top: 2%;
	line-height: 25px;
	font-size: 15px;
	text-transform: none;
	font-family: 'Roboto', sans-serif;	
	padding: 10px;		
}
#comingSoon {	
	color: rgba(175,255,61,1);
	text-shadow: 1px 1px 1px black;	
}
.gallerySocialIcons {
	margin-top: 2.6%;
	margin-left: 38%;
}
.gallerySocialIcons img {
	height: 50px;
	width: 50px;	
	margin-right: 20px;	
	padding: 5px;
	border: 1px solid rgba(175,255,61,1);
	border-radius: 50%;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.gallerySocialIcons img:hover {
	border: none;
	border-radius: 16px;
	transform: scale(1.2);	
}
#fullGalleryButton {
	margin-top: 5%;
	margin-bottom: 10%;
	background-color: white;
	color: black;	
	border-radius: 16px;
	text-transform: lowercase;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
#fullGalleryButton:hover {
	color: black;		
	border-color: black;
}

/*---------------------
	 Small Handheld Styles
----------------------*/

@media screen and (max-width: 568px) {

	#mobileMenu {
		background-color: white;
	}
	#navigationContainer {
		display: none;
	}	
	#mainNavigation {
		display: none;
	}
	#mobileNavContainer ul {
		margin-top: 25%;
	}
	#titleContainer {
		height: 550px;
	}
	#titleContainerShade {
		height: 550px;
	}
	#titleContainer h2 {
		margin-top: 40%;
		font-size: 33px;
	}
	#titleContainer h3 {
		margin-top: 15%;
		line-height: 45px;
	}
	.galleryShade {
		background-color: rgba(0,0,0,0.5);
	}
	#workGallery h1 {
		margin-top: 15%;
		margin-bottom: 15%;
		color: rgba(175,255,61,1);
		text-shadow: 1px 1px 0px black;
	}
	#workGallery h2 {
		margin-top: 15%;	
		color: rgba(175,255,61,1);	
		text-shadow: 1px 1px 1px black;
	}
	#workGallery p {		
		font-weight: bold;
		color: white;
		text-shadow: 1px 1px 0px rgba(175,255,61,1);
	}
	#workGallery button {
		margin: 15% 0;
	}
	#aboutContainer h1 {
		margin-bottom: 0;
	}
	#aboutContainer p {
		font-size: 20px;
	}
	#contactContainer {
		height: 100%;
	}
	#contactContainer h2 {
		font-size: 40px;
		margin-top: 25%;
	}
	#contactContainer p {
		font-size: 20px;
		margin-top: 7%;
	}
	#contactContainer h3 {
		font-size: 25px;
		margin-top: 7%;
	}
	#contactSocialIcons {
		margin-top: 7%;
		margin-bottom: 0;
	}
	#aboutPageContainer {
		height: 100%;
	}
	#aboutPageContainerShade {
		height: 100%;
	}
	#aboutSite {
		margin-top: 25%;
		font-size: 35px;
	}	
	#aboutPageContainerShade h2 {
		margin-top: 7%;
	}
	#aboutPageContainer p {
		margin-top: 7%;
		margin-bottom: 0;
		font-size: 20px;
	}
	#aboutSocialIcons {
		margin-top: 10%;
		margin-bottom: 10%;
	}
	#aboutButton button {
		margin-top: 2%;				
	}
	#footerContainer img {
		margin-top: 8%;
		margin-bottom: 0;
	}
	#footerContainer h1 {
		margin-top: 10%;		
		margin-bottom: 0;
	}
	#socialIcons {
		margin-top: 5%;
		margin-bottom: 0;
	}
	#fullGalleryRow1 {
		margin-top: 20%;
	}
	.fullGalleryShade {
		background-color: rgba(0,0,0,0.6);
	}
	#fullGalleryContainer h2 {
		margin-top: 15%;
		color: rgba(175,255,61,1);
		text-shadow: 1px 1px 1px black;
	}
	#fullGalleryContainer p {
		color: white;
		text-shadow: 1px 1px 1px black;
		font-size: 20px;
	}
}

/*---------------------
	 Handheld Styles to 640px width
----------------------*/

@media screen and (min-width: 569px) and (max-width: 640px) {
	

	#mobileMenu {
		background-color: white;
	}
	#navigationContainer {
		display: none;
	}	
	#mainNavigation {
		display: none;
	}
	#mobileNavContainer ul {
		margin-top: 10%;
	}
	#titleContainer {
		height: 550px;
	}
	#titleContainerShade {
		height: 550px;
	}
	#titleContainer h2 {
		margin-top: 30%;
		font-size: 33px;
	}
	#titleContainer h3 {
		margin-top: 15%;
		line-height: 45px;
	}
	.galleryShade {
		background-color: rgba(0,0,0,0.5);
	}
	#workGallery h1 {
		margin-top: 10%;
		margin-bottom: 10%;
		color: rgba(175,255,61,1);
		text-shadow: 1px 1px 0px black;
	}
	#workGallery h2 {
		margin-top: 15%;	
		color: rgba(175,255,61,1);	
		text-shadow: 1px 1px 1px black;
	}
	#workGallery p {		
		font-weight: bold;
		color: white;
		text-shadow: 1px 1px 0px rgba(175,255,61,1);
	}
	#workGallery button {
		margin: 10% 0;
	}
	#aboutContainer h1 {
		margin-top: 5%;
		margin-bottom: 0;
	}
	#contactContainer {
		height: 100%;
	}
	#contactContainer h2 {
		font-size: 40px;
		margin-top: 20%;
	}
	#contactContainer p {
		font-size: 20px;
		margin-top: 7%;
	}
	#contactContainer h3 {
		font-size: 25px;
		margin-top: 7%;
	}
	#contactSocialIcons {
		margin-top: 7%;
		margin-bottom: 0;
	}
	#aboutPageContainer {
		height: 100%;
	}
	#aboutPageContainerShade {
		height: 100%;
	}
	#aboutSite {
		margin-top: 20%;
		font-size: 35px;
	}	
	#aboutPageContainerShade h2 {
		margin-top: 7%;
	}
	#aboutPageContainer p {
		margin-top: 7%;
		margin-bottom: 0;
		font-size: 20px;
	}
	#aboutSocialIcons {
		margin-top: 10%;
		margin-bottom: 10%;
	}
	#aboutButton button {
		margin-top: 2%;				
	}
	#footerContainer img {
		margin-top: 8%;
		margin-bottom: 0;
	}
	#footerContainer h1 {
		margin-top: 10%;		
		margin-bottom: 0;
	}
	#socialIcons {
		margin-top: 0;
		margin-bottom: 5%;
	}
	#fullGalleryRow1 {
		margin-top: 20%;
	}
	.fullGalleryShade {
		background-color: rgba(0,0,0,0.6);
	}
	#fullGalleryContainer h2 {
		margin-top: 10%;
		color: rgba(175,255,61,1);
		text-shadow: 1px 1px 1px black;
	}
	#fullGalleryContainer p {
		color: white;
		text-shadow: 1px 1px 1px black;
		font-size: 20px;
	}
}

/*----------
Tablet Styles
--------------*/

@media screen and (min-width: 641px) and (max-width: 992px) {
	
	#mobileLogo img {
		margin-top: 3%;
	}
	#mobileMenu {
		background-color: white;
	}
	#navigationContainer img {
		height: 35px;
		width: 25px;
		margin-top: 2.5%;
	}
	#titleContainer {
		height: 550px;
	}
	#titleContainerShade {
		height: 550px;
	}
	#titleContainerShade h2 {
		margin-top: 25%;
	}
	.galleryTile {
		height: 300px;
	}
	.galleryShade h2 {
		margin-top: 8%;
	}
	.galleryShade p {
		margin-top: 2%;
	}
	#aboutContainer button {
		margin: 5% 0;
	}
	#footerContainer img {
		margin-bottom: 0;
	}
	#footerContainer h1 {
		margin-top: 5%;
		margin-bottom: 0;
	}
	#socialIcons {
		margin-top: 5%;
	}
	#contactContainer {
		height: 100%;
	}
	#contactContainer h2 {
		font-size: 40px;
		margin-top: 15%;
	}
	#contactContainer p {
		font-size: 20px;
		margin-top: 5%;
	}
	#contactContainer h3 {
		font-size: 25px;
		margin-top: 5%;
	}
	#contactSocialIcons {
		margin-top: 5%;
		margin-bottom: 0;
	}
	#aboutPageContainer {
		height: 100%;
	}
	#aboutPageContainerShade {
		height: 100%;
	}
	#aboutSite {
		margin-top: 15%;
		font-size: 35px;
	}	
	#aboutPageContainerShade h2 {
		margin-top: 5%;
	}
	#aboutPageContainer p {
		margin-top: 5%;
		margin-bottom: 0;
		font-size: 20px;
	}
	#aboutSocialIcons {
		margin-top: 7%;
		margin-bottom: 10%;
	}
	#aboutButton button {
		margin-top: 2%;				
	}	
	#fullGalleryRow1 {
		margin-top: 10%;
	}
	.fullGalleryShade {
		background-color: none;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}
	#fullGalleryContainer h2 {
		margin-top: 10%;		
	}
	#fullGalleryContainer p {		
		font-size: 20px;
	}	
}
